.block-menu{
	min-width: 35px;
	min-height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	user-select: none;
	&__btn{
		cursor: pointer;
		&:hover{
			rect:last-child{
				width: 35px;
				x: 5;
			}
		}
	}
	&__icon{
		margin-bottom: 4px;
		rect{
			transition: .2s;
		}
	}
	&__close{
		display: none;
	}
	&__text{
		font-family: 'Gilroy';
		font-weight: 600;
		font-size: 12.5641px;
		color: #FFFFFF;
	}
	&__dropdown{
		position: absolute;
		top: 0;
		right: -110%;
		width: 100%;
		z-index: 1;
		background: #FFFFFF;
		height: 75vh;
		transition: .2s ease-in-out;
		overflow: hidden;
		&.active{
			right: 0;
		}
		&-block{
			margin-left: 33px;
			margin-bottom: 42px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		&-content{
			padding: 20px 40px;
			padding-right: 48px;
			padding-top: 14.7vh;
		}
		&-title{
			font-family: 'Gilroy';
			font-weight: 600;
			font-size: 24px;
			color: #3A3A3A;
			display: inline-block;
	        transform: translateX(-200%);
			&.margin{
				margin-bottom: 27px;
			}
		}
		&-links{
			padding-left: 19px;
			li{
				margin-bottom: 19px;
	        	transform: translateX(-200%);
				&:last-child{
					margin-bottom: 0;
				}
			}
			a{
				font-family: 'Gilroy';
				font-weight: 500;
				font-size: 18px;
				color: #3A3A3A;
			}
		}
		&-bottom{
			margin-top: 89px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			opacity: 0;
		}
		&-info{
			font-family: 'Gilroy';
			font-weight: 600;
			font-size: 14px;
			color: #3A3A3A;
			opacity: 0.5;
		}
		&.active{
			.block-menu__dropdown-block{
				@for $i from 1 through 10 {
					&:nth-child(#{$i}){
						.block-menu__dropdown-title{
				    		transition: all 0.5s 1s * $i/2;
						}
						@for $l from 1 through 10 {
							.block-menu__dropdown-links li:nth-child(#{$l}){
			    				transition: all 0.5s #{$i/2+$l*0.1}s;
							}
						}
					}
				}
			}
			.block-menu__dropdown-title{
				transform: translateX(0%);
			}
			.block-menu__dropdown-links li{
				transform: translateX(0%);
			}
			.block-menu__dropdown-bottom{
				opacity: 1;
	    		transition: all 0.5s 2.5s;
			}
		}
	}
}

.btn-language{
	display: flex;
	align-items: center;
	height: 50px;
	padding: 10px;
	position: relative;
	&.fixed{
		position: fixed;
		z-index: 100;
		top: 30px;
		right: 30px;
	}
	&__icon{
		cursor: pointer;
		flex: none;
		transition: .2s;
	}
	&__content{
		display: flex;
		align-items: center;
		position: absolute;
		right: 100%;
		padding: 10px 5px;
	}
	&__link{
		margin-left: 10px;
		display: inline-flex;
		font-family: 'Gilroy';
		font-weight: 600;
		font-size: 16px;
		color: #FFFFFF;
		text-transform: capitalize;
		mix-blend-mode:difference;
		&:first-child{
			margin-left: 0;
		}
	}
}

.block-header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	&__wrap{
	}
	&__content{
	}
	&__left{
		position: fixed;
		top: 0;
		left: 0;
		width: 24.4vw;
		padding: 39px 64px;
	}
	&__right{
		position: fixed;
		width: 24.4vw;
		top: 0;
    	right: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 46px 49px;
		padding-left: 30px;
		.btn-language, .block-menu{
			z-index: 10;
			position: relative;
		}
	}
}

.title{
	font-family: 'Raleway';
	font-weight: 600;
	color: #FFFFFF;
	&_sec{
		font-size: 32px;
	}
	&_main{
		font-weight: bold;
		font-size: 56px;
	}
}

.text-info{
	font-family: 'Gilroy';
	font-weight: 500;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 1.5;
}

.project-el{
	&__icon{
		margin-bottom: 26px;
	}
	&__text{
		font-family: 'Gilroy';
		font-weight: bold;
		font-size: 18px;
		color: #FFFFFF;
	}
}

.iconLink{
	display: inline-flex;
	align-items: center;
	&__icon{
		flex: none;
	}
	&__text{
		font-family: 'Gilroy';
		font-weight: 600;
		font-size: 14px;
		color: #FFFFFF;
	}
	&__margin{
		margin-right: 9px;
	}
}

.block-links{
	position: relative;
	&__el{
		margin-right: 14px;
		position: relative;
		&::after{
			content: '';
			position: absolute;
			top: 50%;
			right: -8px;
			transform: translateY(-50%);
			width: 1px;
			height: 16px;
			opacity: 0.4;
			background: #FFFFFF;
		}
		&:last-child{
			&::after{
				display: none;
			}
		}
	}
}

.block-socials{
	display: flex;
	flex-wrap: wrap;
	&__el{
		margin-right: 8px;
		&:last-child{
			margin-right: 0;
		}
	}
}

.wrap-menu{
	.btn-language__icon{
		path{
			transition: .2s;
		}
	}
	&.active{
		.block-menu__btn{
			display: none;
		}
		.block-menu__close{
			display: block;
		}
		.btn-language__icon{
			path{
				fill: #3A3A3A;
			}
		}
		.btn-language__link{
		    filter: drop-shadow(2px 4px 6px #3A3A3A);
		}
	}
}

.project-el-cat{
	height: 100%;
	width: 100%;
	cursor: pointer;
	display: flex;
	align-items: flex-end;
	padding: 43px 37px;
	transition: .2s;
	&:hover{
		background: rgba(255, 255, 255, 0.26);
	}
	&__title{
		font-family: 'Gilroy';
		font-weight: bold;
		font-size: 18px;
		color: #FFFFFF;
	}
}

.gallery-btn{
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	&__icon{
		flex: none;
		object-fit: contain;
		width: 32px;
		height: 32px;
		margin-right: 16px;
	}
	&__text{
		font-weight: bold;
		font-size: 16px;
		color: #3A5899;
	}
}

.project-info{
	background: #FFFFFF;
	padding: 49px 40px;
	padding-bottom: 40px;
	font-family: 'Gilroy';
	display: flex;
	flex-direction: column;
	&__top{
		position: relative;
	}
	&__arr{
		position: absolute;
		top: 3px;
		right: 0;
	}
	&__info{
		font-weight: 500;
		font-size: 16px;
		color: #3A5899;
		margin-bottom: 24px;
	}
	&__title{
		font-weight: bold;
		font-size: 20px;
		color: #3A5899;
		margin-bottom: 40px;
	}
	&__text{
		color: #3A5899;
		max-width: 348px;
		margin-bottom: 30px;
		.project-info{
			height: 100%;
		}
	}
	&__btn{
		margin-top: auto;
	}
}

.block-project-info{
	background: #3A5899;
	padding: 44px 40px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	&__el{
		width: 46%;
	}
	&__val{
		font-family: 'Raleway';
		display: inline-flex;
		align-items: flex-end;
		&-count{
			font-weight: 600;
			font-size: 80px;
			color: #FFFFFF;
			line-height: 1;
		}
		&-text{
			font-weight: 600;
			font-size: 40px;
			color: #FFFFFF;
			margin-left: 9px;
    		margin-bottom: 6px;
		}
		margin-bottom: 26px;
	}
	&__title{
		font-weight: 500;
		font-size: 16px;
		color: #FFFFFF;
	}
}