.noscroll{
	overflow: hidden !important;
}

.block-anim-bg{
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 999;
	&__dec{
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transform-origin: 0 50%;
		transform: scaleX(0);
		background-color: #e8e8e8;
	}
	&__el{
		$pos_y: 0vh;
		$pos_x: 25vw;
		width: 25vw;
		height: 25vh;
		position: relative;
		overflow: hidden;
		@for $i from 1 through 16 {
			$pos_x: $pos_x - 25vw;
			@if $pos_x < -75vw {
				$pos_x: 0vw;
				$pos_y: $pos_y - 25vh;
			}
			&:nth-child(#{$i}){
				.block-anim-bg__el-bg{
					background-position: $pos_x $pos_y;
				}
			}
		}
		&-bg{
			background-repeat: no-repeat;
			background-size: 100vw 100vh;
			// background-size: cover;
			width: 100%;
			height: 100%;
			position: relative;
			&::after{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(9, 20, 36, 0.3);
				z-index: 3;
			}
		}
	}
	// &.anim{
	// 	.block-anim-bg__el-bg{
	// 		width: 100%;
	// 	}
	// }
}

.block-menu{
	min-width: 35px;
	min-height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	user-select: none;
	&__btn{
		cursor: pointer;
		&:hover{
			rect:last-child{
				width: 35px;
				x: 5;
			}
		}
	}
	&__icon{
		margin-bottom: 4px;
		rect{
			transition: .2s;
		}
	}
	&__close{
		display: none;
	}
	&__text{
		font-family: 'Gilroy';
		font-weight: 600;
		font-size: 12.5641px;
		color: #FFFFFF;
	}
	&__dropdown{
		position: absolute;
		top: 0;
		right: -130vw;
		width: 100%;
		// min-width: 375px;
		z-index: 1;
		background: #FFFFFF;
		height: 75vh;
		transition: .6s ease-in-out;
		overflow: hidden;
		&.active{
			right: 0;
		}
		&-block{
			margin-left: 33px;
			margin-bottom: 42px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		&-content{
			padding: 20px 40px;
			padding-right: 48px;
			padding-top: 14.7vh;
		}
		&-title{
			font-family: 'Gilroy';
			font-weight: 400;
			font-size: 24px;
			color: #3A3A3A;
			display: inline-block;
	        transform: translateX(-200%);
	        &:hover, &.router-link-active{
	        	color: #3A5899;
	        }
			&.margin{
				margin-bottom: 27px;
			}
		}
		&-links{
			padding-left: 19px;
			li{
				margin-bottom: 19px;
	        	transform: translateX(-200%);
				&:last-child{
					margin-bottom: 0;
				}
			}
			a{
				font-family: 'Gilroy';
				font-weight: 400;
				font-size: 18px;
				color: #3A3A3A;
				display: inline-block;
				transition: .2s;
		        &:hover, &.router-link-active{
		        	color: #3A5899;
		        }
			}
		}
		&-bottom{
			margin-top: 89px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			opacity: 0;
		}
		&-info{
			font-family: 'Gilroy';
			font-weight: 600;
			font-size: 14px;
			color: #3A3A3A;
			opacity: 0.5;
		}
		&.active{
			.block-menu__dropdown-block{
				@for $i from 1 through 10 {
					&:nth-child(#{$i}){
						.block-menu__dropdown-title{
				    		transition: transform 0.5s 1s * $i/2, color 0.2s;
						}
						@for $l from 1 through 10 {
							.block-menu__dropdown-links li:nth-child(#{$l}){
			    				transition: transform 0.5s #{$i/2+$l*0.1}s;
							}
						}
					}
				}
			}
			.block-menu__dropdown-title{
				transform: translateX(0%);
			}
			.block-menu__dropdown-links li{
				transform: translateX(0%);
			}
			.block-menu__dropdown-bottom{
				opacity: 1;
	    		transition: all 0.5s 2.5s;
			}
		}
	}
}

@keyframes anim_language{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

.btnLanguageFixed{
	position: fixed;
	z-index: 100;
	top: 30px;
	right: 30px;
	.btn-language__content{
		left: auto;
		right: 100%;
	}
}

.btn-language{
	display: flex;
	align-items: center;
	height: 50px;
	padding: 10px;
	position: relative;
	&.fixed{
		position: fixed;
		z-index: 100;
		top: 30px;
		right: 30px;
	}
	&__icon{
		cursor: pointer;
		flex: none;
		transition: 1s;
		width: 27px;
		height: 27px;
	}
	&__content{
		display: flex;
		align-items: center;
		position: absolute;
		left: 100%;
		padding: 10px 5px;
	}
	&__link{
		margin-left: 10px;
		display: inline-flex;
		font-family: 'Gilroy';
		font-weight: 600;
		font-size: 16px;
		color: #FFFFFF;
		text-transform: capitalize;
		transition: .2s;
		&:hover{
			color: #3A5899;
		}
		&:first-child{
			margin-left: 0;
		}
	}
	&:hover{
		.btn-language__icon{
			animation: anim_language 4s linear infinite;
		}
	}
}

.block-header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	&__wrap{
	}
	&__content{
	}
	&__logo{
		width: 192px;
		height: 62.19px;
	}
	&__left{
		position: fixed;
		top: 0;
		left: 0;
		width: 24.4vw;
		padding: 39px 64px;
	}
	&__right{
		position: fixed;
		width: 24.4vw;
		top: 0;
    	right: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 46px 49px;
		padding-left: 30px;
		.btn-language, .block-menu{
			z-index: 10;
			position: relative;
		}
	}
}

.title{
	font-family: 'Raleway';
	font-weight: 600;
	color: #FFFFFF;
	&_sec{
		font-size: 28px;
		line-height: 1.2;
		font-weight: 400;
	}
	&_main{
		font-weight: bold;
		font-size: 50px;
	}
}

.text-info{
	font-family: 'Gilroy';
	font-weight: 500;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 1.5;
}

.project-el{
	&__icon{
		margin-bottom: 26px;
	}
	&__text{
		font-family: 'Gilroy';
		font-weight: 400;
		font-size: 18px;
		color: #FFFFFF;
	}
}

.iconLink{
	display: inline-flex;
	align-items: center;
	&__icon{
		flex: none;
	}
	&__text{
		font-family: 'Gilroy';
		font-weight: 600;
		font-size: 14px;
		color: #FFFFFF;
	}
	&__margin{
		margin-right: 9px;
	}
}

.block-links{
	position: relative;
	&__el{
		margin-right: 14px;
		position: relative;
		transition: .2s;
		&::after{
			content: '';
			position: absolute;
			top: 50%;
			right: -8px;
			transform: translateY(-50%);
			width: 1px;
			height: 16px;
			opacity: 0.4;
			background: #FFFFFF;
		}
		&:first-child{
			&:hover{
				transform: translateX(-5px);
			}
		}
		&:last-child{
			&:hover{
				transform: translateX(5px);
			}
			&::after{
				display: none;
			}
		}
	}
}

.block-socials{
	display: flex;
	flex-wrap: wrap;
	font-size: 0;
	&__el{
		margin-right: 8px;
		&:last-child{
			margin-right: 0;
		}
	}
}

.wrap-menu{
	.block-menu__btn{
		position: relative;
	}
	&.active{
		.btn-language__link{
		    color: #3A3A3A;
		    transition: .2s;
		}
		.btn-language__content{
			right: auto;
			left: 100%;
		}
	}
	&.showElms{
		.block-menu__btn{
			display: none;
		}
		.block-menu__close{
			display: block;
			path{
				fill: #3A3A3A;
			}
		}
		.btn-language__icon{
			path{
				fill: #3A3A3A;
			}
		}
	}
}

.project-el-cat{
	height: 100%;
	width: 100%;
	cursor: pointer;
	display: flex;
	align-items: flex-end;
	padding: 43px 37px;
	transition: .2s;
	&:hover{
		background: rgba(255, 255, 255, 0.26);
	}
	&__title{
		font-family: 'Gilroy';
		font-weight: 400;
		font-size: 18px;
		color: #FFFFFF;
	}
}

.gallery-btn{
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	&__icon{
		flex: none;
		object-fit: contain;
		width: 32px;
		height: 32px;
		margin-right: 16px;
	}
	&__text{
		font-weight: bold;
		font-size: 16px;
		color: #3A5899;
	}
}

.project-info{
	background: #FFFFFF;
	padding: 49px 40px;
	padding-bottom: 40px;
	font-family: 'Gilroy';
	display: flex;
	flex-direction: column;
	&__top{
		position: relative;
	}
	&__arr{
		position: absolute;
		top: 3px;
		cursor: pointer;
		right: -10px;
		width: 20px;
		transition: .2s;
		user-select: none;
		&:hover{
			transform: translateY(-5px);
		}
	}
	&__info{
		font-weight: 500;
		font-size: 16px;
		color: #3A5899;
		margin-bottom: 24px;
	}
	&__title{
		font-weight: bold;
		font-size: 20px;
		color: #3A5899;
		margin-bottom: 40px;
	}
	&__text{
		color: #3A5899;
		max-width: 348px;
		margin-bottom: 30px;
		.project-info{
			height: 100%;
		}
	}
	&__btn{
		margin-top: auto;
	}
}

.block-project-info{
	background: #3A5899;
	display: flex;
	align-items: flex-end;
	&__wrap{
		padding: 44px 40px;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		width: 100%;
	}
	&__el{
		width: 46%;
	}
	&__val{
		font-family: 'Raleway';
		display: inline-flex;
		align-items: flex-end;
		&-count{
			font-weight: 600;
			font-size: 80px;
			color: #FFFFFF;
			line-height: 1;
		}
		&-text{
			font-weight: 600;
			font-size: 40px;
			color: #FFFFFF;
			margin-left: 9px;
    		margin-bottom: 6px;
		}
		margin-bottom: 26px;
	}
	&__title{
		font-weight: 500;
		font-size: 16px;
		color: #FFFFFF;
	}
}

.text-link{
	font-family: 'Gilroy';
	font-weight: bold;
	font-size: 18px;
	color: #FFFFFF;
	opacity: 0.4;
}

.title-contact{
	font-family: 'Gilroy';
	font-weight: 600;
	font-size: 14px;
	color: #FFFFFF;
	opacity: 0.5;
}

.link-contact{
	font-family: 'Gilroy';
	font-weight: 600;
	font-size: 18px;
	color: #FFFFFF;
}

.contact-el{
	&__title{
		margin-bottom: 20px;
	}
}

.locate-el{
	&__title{
		margin-bottom: 15px;
	}
	font-family: 'Gilroy';
	color: #FFFFFF;
	line-height: 1.2;
	span{
		display: inline-block;
	}
	&__text{
		font-weight: 600;
		font-size: 18px;
	}
	&__info{
		margin-top: 10px;
		font-weight: 500;
		font-size: 16px;
	}
}

.form-el{
	position: relative;
	&__inp{
		display: block;
		width: 100%;
		border: 0;
		height: 50px;
		background: transparent;
		font-family: 'Raleway';
		font-weight: 500;
		font-size: 16px;
		color: #222222;
		border-bottom: 1px solid #F1F1F1;
		&::placeholder{
			font-family: 'Raleway';
			font-weight: 500;
			font-size: 16px;
			color: #BBBBBB;
		}
		&.focus{
			color: #113366;
			border-color: #113366;
		}
		&.error{
			border-color: #EB5757;
		}
	}
	&__placeholder{
		font-family: 'Raleway';
		font-weight: 500;
		font-size: 16px;
		color: #BBBBBB;
		position: absolute;
		pointer-events: none;
		top: 16px;
		left: 0;
		transition: .2s;
	}
	&.focus{
		.form-el__inp{
			color: #113366;
			border-color: #113366;
		}
		.form-el__placeholder{
			top: 0;
			font-size: 12px;
			align-items: flex-start;
		}
	}
	&.error{
		.form-el__placeholder{
			color: #EB5757;
		}
		.form-el__inp{
		}
	}
}

.block-form{
	&__inps{
		display: flex;
		justify-content: space-between;
		&-el{
			width: 49%;
		}
	}
	&__el{
		margin-bottom: 27px;
	}
	&__btnWrap{
		text-align: center;
		margin-top: 81px;
	}
	&__btn{
		font-family: 'Raleway';
		font-weight: 600;
		font-size: 23px;
		color: #222222;
		cursor: pointer;
		padding-bottom: 7px;
		transition: .2s;
		&:hover{
			border-bottom: 1px solid #3A5899;
			color: #3A5899;
		}
	}
}

.fancybox__toolbar__items{
	button{
		display: none !important;
	}
	.fancybox__button--close{
		display: flex !important;
		align-items: center;
		justify-content: center;
	}
}
.carousel__button{
	border: 0 !important;
}

@media screen and (min-width: 768px){
	.fancybox__image, .fancybox__content{
		width: 100vw !important;
		height: 100vh !important;
		object-fit: cover !important;
		transform: scale(1) !important;
	}
	.fancybox__slide{
		padding: 0 !important;
	}
}

.fancybox__toolbar{
	padding: 10px !important;
}

.fancybox__slide.can-zoom_in{
	cursor: default !important;
}
.fancybox__content{
	cursor: default !important;
}

.fancybox__toolbar__items--left{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 56px 20px !important;
	pointer-events: none;
}
.fancybox__counter{
	background: transparent;
	border-radius: 60px;
	width: 125px;
	height: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.fancybox__nav{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 68px 20px !important;
	z-index: 9999;
	&::after{
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		background: #3A5899;
		border-radius: 60px;
		width: 125px;
		height: 56px;
		transform: translateX(-50%) translateY(-50%);
	}
}

.fancybox__nav .carousel__button{
	position: static !important;
	top: auto !important;
	transform: none !important;
	width: 30px !important;
	height: 30px !important;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 20px;
	svg{
		width: 8px !important;
		height: 8px !important;
	}
	&.is-next{
		order: 2;
		margin-left: 50px;
	}
	&.is-prev{
		order: 1;
	}
}

.fancybox__thumbs{
	display: none !important;
}

.about-el{
	&__icon{
		margin-bottom: 27px;
	}
	&__text{
		font-family: 'Gilroy';
		font-weight: 400;
		font-size: 22px;
		color: #FFFFFF;
	}
}