html{
	position: relative;
	max-width: 100vw;
	overflow: hidden;
}

body{
	font-family: 'Gilroy', sans-serif;
	position: relative;
	font-weight: 400;
	overflow: hidden;
	max-width: 100vw;
	background: #303030;
}

.sec-home{
	&.animFrom{
		.sec-home__bg{
			width: 0;
		}
	}
	&__bg{
		position: absolute;
		top: 0;
		left: 0;
		transition: 1s;
		width: 100%;
		height: 100%;
		z-index: 1;
		pointer-events: none;
		object-position: top;
		object-fit: cover;
	}
	&__wrap{
		position: relative;
		z-index: 10;
	}
	&__content{
		position: relative;
		width: 100vw;
		height: 100vh;
	}
	&__logo{
		max-height: 100%;
		max-width: 100%;
		width: 469px;
		object-fit: contain;
	}
	&__line{
		position: absolute;
		background: rgba(255, 255, 255, 0.48);
		pointer-events: none;
		z-index: 1;
		&_1{
			height: 1px;
			top: 50%;
			margin-top: 0.5px;
			width: 24.5vw;
			left: 0;
		}
		&_2{
			height: 1px;
			top: 50%;
			margin-top: -0.5px;
			width: 24.5vw;
			right: 0;
		}
		&_3{
			height: 100vh;
			width: 1px;
			left: 24.5vw;
		}
		&_4{
			height: 100vh;
			width: 1px;
			right: 24.5vw;
		}
		&_5{
			top: 25vh;
			left: 50%;
			transform: translateX(-50%);
			width: 51vw;
			width: calc(51vw - 2px);
			height: 1px;
		}
		&_6{
			bottom: 25vh;
			left: 50%;
			transform: translateX(-50%);
			width: 51vw;
			width: calc(51vw - 2px);
			height: 1px;
		}
	}
	&__link{
		cursor: pointer;
		height: 50vh;
		width: 24.5vw;
		position: absolute;
		transition: .2s;
		display: flex;
		font-family: 'Gilroy';
		font-weight: bold;
		font-size: 18px;
		color: #FFFFFF;
		padding: 50px 43px;
		z-index: 10;
		align-items: flex-end;
		&_left{
			justify-content: flex-end;
		}
		&:hover{
			background: rgba(255, 255, 255, 0.26);
		}
		&_1{
			top: 0;
			left: 0;
		}
		&_2{
			right: 0;
			top: 0;
		}
		&_3{
			bottom: 0;
			left: 0;
		}
		&_4{
			bottom: 0;
			right: 0;
		}
	}
	&__center{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		width: 51vw;
		height: 50vh;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 10;
	}
	&__text{
		font-family: 'Raleway';
		font-weight: bold;
		font-size: 24px;
		text-transform: uppercase;
		color: #FFFFFF;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 51vw;
    	height: 25vh;
		z-index: 10;
	}
}

.sec-page{
	height: 100vh;
	width: 100vw;
	position: relative;
	&__content{
		position: relative;
		width: 100vw;
		height: 100vh;
	}
	&__bottom{
		position: absolute;
		z-index: 10;
	    width: 24.3vw;
    	height: 25vh;
		bottom: 0;
		right: 0;
		padding: 41px 38px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
	}
}

.sec-projects{
	// background: url('./assets/img/bg/projects.jpg') no-repeat top / cover;
	position: relative;
	&__bg{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		object-fit: cover;
		z-index: 1;
		height: 100vh;
	}
	&::after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(9, 20, 36, 0.4);
		z-index: 10;
		pointer-events: none;
	}
	&__wrap{
		position: relative;
		z-index: 50;
	}
	&__content{
		position: relative;
		z-index: 30;
		&-bg{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: 1;
		}
	}
	&__title{
		margin-bottom: 43px;
	}
	&__line{
		position: absolute;
		z-index: 100;
		pointer-events: none;
		background: #FFFFFF;
		display: block;
		&_1{
			height: 100vh;
			width: 1px;
			left: 24.4vw;
			top: 0;
		}
		&_2{
			height: 100vh;
			width: 1px;
			left: 50vw;
			top: 0;
		}
		&_3{
			height: 100vh;
			width: 1px;
			top: 0;
			right: 24.4vw;
		}
		&_4{
			height: 1px;
			left: 0;
		    top: 25vh;
    		width: 50vw;
		}
		&_5{
			height: 1px;
			left: 0;
		    bottom: 25vh;
    		width: 50vw;
		}
		&_6{
			height: 1px;
			right: 0;
		    bottom: 25vh;
    		width: 24.4vw;
		}
		&_7{
			height: 1px;
			right: 0;
		    top: 25vh;
    		width: 24.4vw;
		}
		&_8{
			height: 1px;
			right: 24.4vw;
		    top: 50vh;
    		width: 25.6vw;
		}
	}
	&__text{
		position: absolute;
		width: 24.5vw;
		height: 50vh;
		top: 25vh;
		left: 0;
		z-index: 10;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 40px 62px;
	}
	&__el{
		position: absolute;
		z-index: 10;
		width: 25.7vw;
		height: 50vh;
		display: flex;
		align-items: flex-end;
		padding: 42px 39px;
		transition: .2s;
		&:hover{
			background: rgba(255, 255, 255, 0.26);
		}
		&_1{
			top: 25vh;
    		left: 24.4vw;
		}
		&_2{
			top: 0;
			left: 50vw;
			width: 25.7vw;
		}
		&_3{
			top: 25vh;
			right: 0;
			width: 24.4vw;
		}
	}
}

.sec-projects-cat{
	position: relative;
	&__line{
		position: absolute;
		z-index: 1;
		background: #FFFFFF;
		display: block;
		z-index: 10;
		pointer-events: none;
		&_1{
			height: 100vh;
			width: 1px;
			left: 24.4vw;
			top: 0;
		}
		&_2{
			height: 100vh;
			width: 1px;
			left: 50vw;
			top: 0;
		}
		&_3{
			height: 100vh;
			width: 1px;
			left: 75.6vw;
			top: 0;
		}
		&_3{
			height: 1px;
			width: 100vw;
			left: 0;
			top: 25vh;
		}
		&_4{
			height: 1px;
			width: 75.6vw;
			left: 24.4vw;
			top: 50vh;
		}
		&_5{
			height: 1px;
			width: 100vw;
			left: 0;
			top: 75vh;
		}
		&_6{
			height: 100vh;
			width: 1px;
			left: 75.6vw;
			top: 0;
		}
	}
	&__bg{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 1;
	}
	&__img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 110vh;
		z-index: 5;
		pointer-events: none;
		&.fade-leave-active{
			transition: 0 !important;
		}
		object-fit: cover;
		object-position: top;
	}
	&::after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(9, 20, 36, 0.4);
		z-index: 2;
	}
	&__link{
		font-family: 'Gilroy';
		font-weight: bold;
		font-size: 18px;
		color: #FFFFFF;
		opacity: 0.4;
	}
	&__info{
		position: absolute;
		z-index: 10;
		display: flex;
		flex-direction: column;
		padding: 40px 62px;
		width: 24.5vw;
		height: 50vh;
		top: 25vh;
		left: 0;
	}
	&__title{
		margin-top: auto;
		margin-bottom: 43px;
	}
	&__projects{
		position: absolute;
		top: 0;
		left: 24.5vw;
		width: 51vw;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: flex-start;
		z-index: 10;
	}
	&__el{
		width: 50%;
		height: 25vh;
		&:nth-child(7){
			position: fixed;
			top: 50vh;
			width: 24.4vw;
			right: 0;
		}
	}
}

.sec-project{
	position: relative;
	&__line{
		position: absolute;
		pointer-events: none;
		z-index: 10;
		background-color: #fff;
		opacity: 0.4;
		&_1{
			left: 0;
			width: 100vw;
			top: 25vh;
			height: 1px;
		}
		&_2{
			left: 0;
			width: 100vw;
			top: 50vh;
			height: 1px;
		}
		&_3{
			right: 0;
			width: 24.3vw;
			height: 1px;
			top: 75vh;
		}
		&_4{
			left: 24.4vw;
			top: 0;
			height: 100vh;
			width: 1px;
		}
		&_5{
			left: 50vw;
			top: 0;
			height: 100vh;
			width: 1px;
		}
		&_6{
			left: 75.7vw;
			top: 0;
			height: 100vh;
			width: 1px;
		}
	}
	&__bg{
		position: absolute;
		top: 0;
		left: 0;
		pointer-events: none;
		z-index: 1;
		width: 100%;
		height: 110vh;
		object-fit: cover;
		object-position: top;
		transition: 1s;
		&.anim{
			transform: translate3d(0px, -10vh, 0px);
		}
	}
	&__wrap{
		position: relative;
		z-index: 10;
	}
	&__text{
		position: absolute;
		top: 50vh;
		left: -20vw;
		height: 50vh;
		width: 0vw;
		transition: 0.9s;
		z-index: 110;
		.project-info{
			height: 100%;
		}
		.project-info__text{
			-webkit-line-clamp: 11;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
		&.anim{
			left: 0;
			width: 24.4vw;
		}
		&.open{
			top: 25vh;
			height: 75vh;
			.project-info__text{
				-webkit-line-clamp: 28;
			}
			.project-info__arr{
				transform: rotate(180deg);
				&:hover{
					transform: rotate(180deg) translateY(-5px);
				}
			}
		}
	}
	&__info{
		position: absolute;
		left: 24.4vw;
		top: 50vh;
		width: 51.3vw;
		height: 50vh;
		&-top{
			padding: 44px 42px;
			height: 25vh;
			display: flex;
			align-items: flex-end;
		}
	}
	&__contentInfo{
		position: absolute;
		left: 0;
		width: 100%;
		height: 0vh;
		transition: 0.9s;
		bottom: -25vh;
		&.anim{
			height: 25vh;
			bottom: 0;
		}
	}
}

.sec-partners{
	position: relative;
	&__bg{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		object-fit: cover;
	}
	&::after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(9, 20, 36, 0.4);
		z-index: 2;
	}
	&__line{
		position: absolute;
		z-index: 3;
		pointer-events: none;
		background-color: #FFFFFF;
		opacity: 0.4;
		&_1{
			top: 25vh;
			width: 100vw;
			height: 1px;
		}
		&_2{
			top: 50vh;
			width: 100vw;
			height: 1px;
			left: 24.4vw;
		}
		&_3{
			top: 75vh;
			width: 100vw;
			height: 1px;
		}
		&_4{
			left: 24.4vw;
			top: 0;
			height: 100vh;
			width: 1px;
		}
		&_5{
			top: 0;
			height: 100vh;
			width: 1px;
			left: 50vw;
		}
		&_6{
			top: 0;
			height: 100vh;
			width: 1px;
			left: 75.6vw;
		}
	}
	&__wrap{
		width: 100vw;
		height: 100vh;
		position: relative;
		z-index: 10;
	}
	&__content{
		position: absolute;
		top: 25vh;
		width: 24.4vw;
		left: 0;
		height: 50vh;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		padding: 40px 64px;
		padding-right: 20px;
	}
	&__title{
		margin-bottom: 44px;
	}
	&__items{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 24.4vw;
		width: 51.2vw;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	&__item{
		width: 50%;
		height: 25vh;
		display: flex;
		align-items: flex-end;
		padding: 40px 40px;
		cursor: pointer;
		transition: .2s;
		&:hover{
			background: rgba(255, 255, 255, 0.26);
		}
	}
}

.sec-partner{
	position: relative;
	background: #3A5899;
	&__line{
		position: absolute;
		z-index: 3;
		pointer-events: none;
		background-color: #FFFFFF;
		opacity: 0.4;
		&_1{
			width: 100vw;
			height: 1px;
			top: 25vh;
			left: 0;
		}
		&_2{
			width: 24.4vw;
			height: 1px;
			top: 75vh;
			left: 0;
		}
		&_3{
			height: 1px;
			left: 50vw;
			top: 50vh;
			width: 25.7vw;
		}
		&_4{
			top: 0;
			height: 100vh;
			width: 1px;
			left: 24.4vw;
		}
		&_5{
			top: 0;
			height: 100vh;
			width: 1px;
			left: 50vw;
		}
		&_6{
			top: 0;
			height: 100vh;
			width: 1px;
			left: 75.6vw;
		}
	}
	&__wrap{
		position: relative;
		width: 100vw;
		height: 100vh;
		z-index: 10;
	}
	&__img{
		position: absolute;
		z-index: 5;
		object-fit: cover;
		object-position: center;
		opacity: 0;
		transition: 1s;
		&.anim{
			opacity: 1;
		}
		&_1{
			top: 25vh;
			left: 24.4vw;
			height: 50vh;
			width: 0vw;
			&.anim{
				width: 25.6vw;
			}
		}
		&_2{
			top: 0;
			left: 50vw;
			width: 25.6vw;
			height: 0vh;
			&.anim{
				height: 25vh;
			}
		}
		&_3{
			height: 25vh;
			top: 50vh;
			width: 24.4vw;
			right: -24.4vw;
			&.anim{
				right: 0;
			}
		}
	}
	&__content{
		position: absolute;
		top: 25vh;
		width: 24.4vw;
		left: 0;
		z-index: 10;
		&-body{
			height: 50vh;
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			padding: 40px 64px;
			padding-right: 20px;
		}
	}
	&__text{
		position: absolute;
		z-index: 50;
		left: 50vw;
		top: 50vh;
		width: 25.6vw;
		height: 50vh;
		padding: 39px 41px;
		padding-right: 76px;
		overflow: hidden;
		p{
			margin-bottom: 25px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	&__info{
		position: absolute;
		right: 0;
		top: 25vh;
		width: 24.4vw;
		height: 25vh;
		z-index: 10;
		padding: 47px 40px;
		padding-right: 55px;
		&-title{
			font-family: 'Raleway';
			font-weight: 600;
			font-size: 80px;
			color: #FFFFFF;
			margin-bottom: 32px;
		}
		&-text{
			font-family: 'Gilroy';
			font-weight: 500;
			font-size: 18px;
			color: #FFFFFF;
			line-height: 1.3;
		}
	}
}

.sec-contacts{
	background: #3A5899;
	&__line{
		position: absolute;
		z-index: 1;
		pointer-events: none;
		background-color: #fff;
		opacity: 0.6;
		&_1{
			left: 0;
			height: 1px;
			width: 100vw;
			top: 25vh;
		}
		&_2{
			left: 0;
			height: 1px;
			width: 100vw;
			top: calc(75vh - 1px);
		}
		&_3{
			left: 0;
			height: 100vh;
			width: 1px;
			top: 0;
			left: 24.4vw;
		}
		&_4{
			height: 100vh;
			width: 1px;
			top: 0;
			left: 50vw;
		}
		&_5{
			height: 100vh;
			width: 1px;
			top: 0;
			left: 75.6vw;
		}
	}
	&__wrap{
		width: 100vw;
		height: 100vh;
		position: relative;
		z-index: 10;
	}
	&__content{
		position: absolute;
		top: 25vh;
		width: 24.4vw;
		left: 0;
		z-index: 10;
		height: 50vh;
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		padding: 40px 64px;
		padding-right: 35px;
		&-body{
		}
	}
	&__title{
		margin-bottom: 40px;
	}
	&__map{
		position: absolute;
		left: 24.4vw;
		top: 25vh;
		height: 50vh;
		width: 51.3vw;
		background-color: #EBEBEB;
	}
	&__form{
		position: absolute;
		left: 24.4vw;
		top: 25vh;
		height: 50vh;
		width: 51.3vw;
		background: #FFFFFF;
		padding: 100px 40px;
		padding-bottom: 64px;
		display: flex;
		align-items: center;
		justify-content: center;
		&-close{
			position: absolute;
			top: 24px;
			right: 24px;
			width: 40px;
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 40px;
			transition: .2s;
			cursor: pointer;
			&:hover{
				background: rgba(122, 122, 122, 0.14);
			}
			&:active{
				background: rgba(122, 122, 122, 0.26);
			}
		}
		&-thanks{
			text-align: center;
			margin-bottom: 39px;
		}
		&-title{
			color: #222222;
			margin-bottom: 17px;
		}
		&-text{
			font-family: 'Raleway';
			font-weight: 600;
			font-size: 18px;
			color: #222222;
		}
		&-content{
			max-width: 635px;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
	}
	&__socials{
		position: absolute;
		left: 24.4vw;
		bottom: 0;
		height: 25vh;
		width: 25.6vw;
		display: flex;
		align-items: flex-end;
		padding: 44px 40px;
		&-title{
			margin-bottom: 16px;
		}
	}
	&__info{
		position: absolute;
		bottom: 0;
		height: 25vh;
		left: 50vw;
		width: 25.6vw;
		display: flex;
		align-items: flex-end;
		padding: 44px 40px;
		&-content{
			display: flex;
			align-items: center;
			width: 100%;
		}
		&-el{
			margin-right: 61px;
			&:last-child{
				margin-right: 0;
			}
		}
	}
	&__locate{
		position: absolute;
		right: 0;
		top: 25vh;
		width: 24.4vw;
		height: 50vh;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 39px 40px;
		&-content{
			max-width: 309px;
		}
		&-el{
			margin-bottom: 63px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	&__btn{
		position: absolute;
		bottom: 0;
		right: 0;
		width: 24.4vw;
		height: 25vh;
		background: #516DAA;
		font-family: 'Raleway';
		font-weight: 600;
		font-size: 22px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #FFFFFF;
		cursor: pointer;
	}
}

.sec-about{
	position: relative;
	&__bg{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 1;
	}
	&::after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		background: rgba(9, 20, 36, 0.8);
	}
	&__line{
		position: absolute;
		z-index: 3;
		pointer-events: none;
		background-color: #fff;
		opacity: 0.4;
		&_1{
			width: 24.4vw;
			height: 1px;
			top: 25vh;
			left: 0;
		}
		&_2{
			width: 25.6vw;
			height: 1px;
			top: 25vh;
			left: 24.4vw;
		}
		&_3{
			width: 25.6vw;
			height: 1px;
			top: 75vh;
			left: 24.4vw;
		}
		&_4{
			width: 25.7vw;
			height: 1px;
			top: 50vh;
			left: 50vw;
		}
		&_5{
			height: 1px;
			width: 25.6vw;
			top: 25vh;
			left: 75.7vw;
		}
		&_6{
			height: 1px;
			width: 25.6vw;
			top: 75vh;
			left: 75.7vw;
		}
		&_7{
			height: 100vh;
			width: 1px;
			top: 0;
			left: 24.4vw;
		}
		&_8{
			height: 100vh;
			width: 1px;
			top: 0;
			left: 50vw;
		}
		&_9{
			height: 100vh;
			width: 1px;
			top: 0;
			left: 75.7vw;
		}
	}
	&__wrap{
		position: relative;
		width: 100vw;
		height: 100vh;
		z-index: 10;
	}
	&__content{
		position: absolute;
		z-index: 1;
		left: 0;
		top: 25vh;
		height: 75vh;
		width: 24.4vw;
		padding: 64px 64px;
		padding-right: 32px;
		&-text{
			p{
				margin-bottom: 24px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
	&__title{
		margin-bottom: 40px;
	}
	&__page{
		position: absolute;
		z-index: 2;
		width: 25.7vw;
		height: 50vh;
	    display: flex;
	    align-items: flex-end;
	    padding: 37px 39px;
	    transition: .2s;
	    &:hover{
	    	background: rgba(255, 255, 255, 0.26);
	    }
		&_1{
			top: 25vh;
			left: 24.4vw;
		}
		&_2{
			top: 0vh;
			left: 50vw;
		}
		&_3{
			left: auto;
			right: 0;
			top: 25vh;
			width: 24.3vw;
		}
		&_4{
			top: auto;
			bottom: 0;
			left: 50vw;
		}
	}
}

$duration: 600ms;
$timing-fn: ease;
@keyframes in-top {
  from {transform: rotate3d(-1,0,0, 90deg)}
  to   {transform: rotate3d(0,0,0, 0deg)}}
@keyframes in-right {
  from {transform: rotate3d(0,-1,0, 90deg)}
  to   {transform: rotate3d(0,0,0, 0deg)}}
@keyframes in-bottom {
  from {transform: rotate3d(1,0,0, 90deg)}
  to   {transform: rotate3d(0,0,0, 0deg)}}
@keyframes in-left {
  from {transform: rotate3d(0,1,0, 90deg)}
  to   {transform: rotate3d(0,0,0, 0deg)}}

@keyframes out-top {
  from {transform: rotate3d(0,0,0, 0deg)}
  to   {transform: rotate3d(-1,0,0, 104deg)}}
@keyframes out-right {
  from {transform: rotate3d(0,0,0, 0deg)}
  to   {transform: rotate3d(0,-1,0, 104deg)}}
@keyframes out-bottom {
  from {transform: rotate3d(0,0,0, 0deg)}
  to   {transform: rotate3d(1,0,0, 104deg)}}
@keyframes out-left {
  from {transform: rotate3d(0,0,0, 0deg)}
  to   {transform: rotate3d(0,1,0, 104deg)}}

.sec-types{
	background: #3A5899;
	&__line{
		position: absolute;
		z-index: 3;
		pointer-events: none;
		background-color: #fff;
		opacity: 0.3;
		&_1{
			top: 25vh;
			left: 0;
			width: 100vw;
			height: 1px;
		}
		&_2{
			top: 50vh;
			left: 24.4vw;
			width: 100vw;
			height: 1px;
		}
		&_3{
			top: 75vh;
			left: 0;
			width: 100vw;
			height: 1px;
		}
		&_4{
			top: 0;
			left: 24.4vw;
			width: 1px;
			height: 100vh;
		}
		&_5{
			top: 0;
			left: 50vw;
			width: 1px;
			height: 100vh;
		}
		&_6{
			top: 0;
			left: 75.6vw;
			width: 1px;
			height: 100vh;
		}
	}
	&__wrap{
		width: 100vw;
		height: 100vh;
		z-index: 10;
		position: relative;
	}
	&__content{
		position: absolute;
		top: 25vh;
		left: 0;
		width: 24.4vw;
		height: 50vh;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 41px 64px;
		padding-right: 50px;
	}
	&__title{
		margin-bottom: 40px;
	}
	&__elements{
		position: absolute;
		top: 0;
		left: 24.4vw;
		height: 100vh;
		width: 75.6vw;
		display: grid;
		grid-template-columns: 34% 33.8% 33.2%;
		grid-template-rows: 25vh;
		&-el{
			height: 25vh;
			display: flex;
			align-items: flex-end;
			padding: 42px 38px;
			cursor: pointer;
			position: relative;
			overflow: hidden;
			&_3{
				grid-column: 1;
			}
			&.in-top .sec-types__elements-hover{
				transform-origin: 50% 0%;
				animation: in-top $duration $timing-fn 0ms 1 forwards;
			}
			&.in-right .sec-types__elements-hover{
				transform-origin: 100% 0%;
				animation: in-right $duration $timing-fn 0ms 1 forwards;
			}
			&.in-bottom .sec-types__elements-hover{
				transform-origin: 50% 100%;
				animation: in-bottom $duration $timing-fn 0ms 1 forwards;
			}
			&.in-left .sec-types__elements-hover{
				transform-origin: 0% 0%;
				animation: in-left $duration $timing-fn 0ms 1 forwards;
			}
			&.out-top .sec-types__elements-hover{
				transform-origin: 50% 0%;
				animation: out-top $duration $timing-fn 0ms 1 forwards;
			}
			&.out-right .sec-types__elements-hover{
				transform-origin: 100% 50%;
				animation: out-right $duration $timing-fn 0ms 1 forwards;
			}
			&.out-bottom .sec-types__elements-hover{
				transform-origin: 50% 100%;
				animation: out-bottom $duration $timing-fn 0ms 1 forwards;
			}
			&.out-left .sec-types__elements-hover{
				transform-origin: 0% 0%;
				animation: out-left $duration $timing-fn 0ms 1 forwards;
			}
		}
		&-hover{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #6D83B3;
			z-index: 100;
			padding: 39px;
			
			transform: rotate3d(1,0,0, 90deg);
		}
		&-content{
			position: relative;
			z-index: 10;
		}
		&-icon{
			margin-bottom: 27px;
		}
		&-title{
			font-family: 'Gilroy';
			font-weight: bold;
			font-size: 20px;
			color: #FFFFFF;
		}
	}
}

.sec-founders{
	background: #3A5899;
	&__line{
		background-color: #fff;
		opacity: 0.3;
		position: absolute;
		&_1{
			top: 25vh;
			left: 0;
			height: 1px;
			width: 100vw;
		}
		&_2{
			top: 50vh;
			left: 24.4vw;
			height: 1px;
			width: 100vw;
		}
		&_3{
			top: 75vh;
			left: 0;
			height: 1px;
			width: 100vw;
		}
		&_4{
			left: 24.4vw;
			height: 100vh;
			width: 1px;
			top: 0;
		}
		&_5{
			left: 50vw;
			height: 100vh;
			width: 1px;
			top: 0;
		}
		&_6{
			left: 75.6vw;
			height: 100vh;
			width: 1px;
			top: 0;
		}
	}
	&__wrap{
		position: relative;
		z-index: 10;
		width: 100vw;
		height: 100vh;
	}
	&__content{
		position: absolute;
		top: 25vh;
		left: 0;
		width: 24.4vw;
		height: 50vh;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 41px 64px;
		padding-right: 50px;
	}
	&__title{
		margin-bottom: 40px;
	}
	&__elements{
		position: absolute;
		top: 0;
		left: 24.4vw;
		height: 100vh;
		width: 75.6vw;
		display: grid;
		grid-template-columns: 34% 33.8% 33.2%;
		grid-template-rows: 25vh;
		align-items: flex-start;
		justify-content: flex-start;
		&-el{
			height: 25vh;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			padding: 38px 38px;
			cursor: pointer;
			position: relative;
			overflow: hidden;
			transition: .2s;
			&:hover{
				background: rgba(255, 255, 255, 0.26);
			}
			&_3{
				grid-column: 1;
			}
		}
		&-title{
			font-family: 'Gilroy';
			font-weight: bold;
			font-size: 20px;
			color: #FFFFFF;
			margin-bottom: 18px;
		}
		&-text{
			line-height: 1.25;
		}
	}
}