@media screen and (max-height: 1150px) and (min-width: 1200px){
	.block-menu__dropdown-block{
		margin-bottom: 3vh;
	}
	.block-menu__dropdown-links li{
		margin-bottom: 1.5vh;
	}
	.block-menu__dropdown-bottom{
		margin-top: 4vh;
	}
	.sec-project__text.open{
		top: 142px;
		height: calc(100vh-142px);
		z-index: 100;
		overflow-y: auto;
	}
	.sec-project__wrap{
		// z-index: 100;
	}
	.sec-project__text .project-info{
		height: auto;
		min-height: 100%;
	}
}

@media screen and (max-height: 1000px) and (min-width: 1200px){
	.sec-project__text{
		top: 25vh;
		height: 75vh;
	}
}

@media screen and (max-height: 900px) and (min-width: 1200px){
	.sec-partner__img_3{
		display: none;
	}
	.sec-partner__info{
		height: 50vh;
	}

	.sec-founder__info{
		width: 50vw;
		background: #3A5899;
		.sec-founder__info-bottom{
			max-width: 100%;
		}
	}
	.sec-partner__text{
		top: 25vh;
		height: 75vh;
		background-color: #3A5899;
	}
}
@media screen and (max-height: 760px) and (min-width: 1200px){
	.sec-project__text{
		top: 142px;
		height: calc(100vh-142px);
	}
	.block-menu__dropdown{
		height: 100vh;
	}
	.sec-contacts__locate-el{
		margin-bottom: 5vh;
	}
	.sec-projects-cat__info{
		height: 75vh;
	}
	.sec-projects-cat__line_5{
		left: 24.4vw;
	}
	.sec-types__content{
		height: 75vh;
		justify-content: flex-start;
	}
	.sec-types__line_3{
		left: 24.4vw;
	}
}

@media screen and (max-height: 620px) and (min-width: 1200px){
	.sec-projects__text{
		height: 75vh;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.sec-projects__line_5{
		left: 24.4vw;
		width: 25.6vw;
	}
}

@media screen and (max-width: 1900px){

	.sec-home__logo{
		width: 400px;
	}
}

@media screen and (max-width: 1600px){
	.sec-about__content{
		padding: 30px 30px;
	}.sec-about__content{
		width: 40vw;
	}
	.sec-about__page_1{
		left: 40vw;
		width: 20vw;
	}
	.sec-about__line_7{
		left: 40vw;
	}
	.sec-about__page_2{
		width: 20vw;
		left: 60vw;
	}
	.sec-about__page_3{
		width: 20vw;
	}
	.sec-about__page_4{
		left: 60vw;
		width: 20vw;
	}
	.sec-about__line_3{
		left: 40vw;
		width: 20vw;
	}
	.sec-about__line_4{
		left: 60vw;
		width: 20vw;
	}
	.sec-about__line_5{
		width: 20vw;
		left: auto;
		right: 0;
	}
	.sec-about__line_6{
		width: 20vw;
		left: auto;
		right: 0;
	}
	.sec-about__line_8{
		left: 60vw;
	}
	.sec-about__line_9{
		left: 80vw;
	}
	.sec-about__line_2{
		left: 60vw;
		width: 20vw;
	}
	.sec-about__line_1{
		width: 60vw;
	}
	.sec-about__bottom{
		width: 20vw;
	}
	.sec-about{
		.block-header__right{
			width: 20vw;
		}
	}
	.sec-about__line_2{
		width: 0;
	}
	.about-el__text{
		font-size: 18px;
	}
	.sec-about__content-text{
		font-size: 14px;
	}
	.block-project-info__val-count{
		font-size: 70px;
	}
	.sec-text__content{
		z-index: 120;
		left: 0;
		width: 50vw;
	    background: #3A5899;
	}
	.sec-founder__info{
		width: 50vw;
		background: #3A5899;
		.sec-founder__info-bottom{
			max-width: 100%;
		}
	}
}

@media screen and (max-width: 1400px){
	.block-project-info__val-count{
		font-size: 50px;
	}
	.sec-contacts__content, .sec-about__content, .sec-types__content, .sec-founders__content, .sec-founder__content{
		padding: 40px 35px;
	}
	.sec-partner__text{
		padding: 40px 35px;
	}
	.sec-projects-cat__info{
		padding: 40px 35px;
	}
	.sec-founder__info{
		width: 50vw;
	    background: #3A5899;
	}
	

	.block-menu__dropdown-block{
		margin-left: 0;
	}

	.sec-projects__text{
		padding: 40px 35px;
	}
}

@media screen and (max-width: 1200px){
	.sec-projects__text{
		padding: 30px 20px;
	}
	.sec-page__bottom{
		padding: 30px 20px;
	}
	.block-project-info__wrap{
		display: block;
	}

	.sec-project{

	}
}

@media screen and (max-width: 1200px){
	// .block-header__left{
	// 	&::after{
	// 		content: '';
	// 		position: absolute;
	// 		top: 41%;
	// 		left: 0;
	// 		width: 100vw;
	// 		height: 10px;
	// 		background-color: red;
	// 		transform: translateY(-50%);
	// 	}
	// }
	.sec-home__link{
		padding: 30px 20px;
	}
	.sec-home__logo{
		width: 300px;
	}
	.sec-home__text{
		font-size: 20px;
	}

	.sec-projects__line{
		display: none;
		&_1{
			display: block;
			height: 83px;
			width: 1px;
			left: calc(50vw - 0.5px);
		}
		&_2{
			display: block;
			height: 1px;
			width: 100vw;
			left: 0;
			top: 83px;
		}
		&_3{
			display: block;
			width: 100vw;
			top: 398px;
			left: 0;
			height: 1px;
		}
		&_4{
			display: block;
			height: 166px;
			width: 1px;
			left: calc(50vw - 0.5px);
			top: 398px;
		}
		&_5{
			display: block;
			width: 100vw;
			top: 564px;
			left: 0;
			height: 1px;
		}
		&_6{
			display: block;
			width: 100vw;
			top: 730px;
			left: 0;
			height: 1px;
		}
	}
	.block-header__left{
		padding: 16px 16px;
		width: 50vw;
		height: 83px;
	}
	.block-header__right{
		width: 50vw;
		height: 83px;
		padding: 11px 5px;
		padding-top: 8px;
		align-items: center;
		justify-content: flex-end;
		padding-bottom: 20px;
		.block-menu{
			margin-top: 2px;
		}
	}
	.block-menu{
		display: block;
	}
	.block-menu__icon{
		margin-bottom: 1px;
	}
	.block-header__right{
		.btn-language{
			margin-right: 14px;
		}
	}
	.sec-projects__text{
		width: 100vw;
		height: 315px;
		left: 0;
		top: 83px;
		padding: 42px 16px;
	}
	.sec-projects__title{
		margin-bottom: 24px;
	}
	.project-el__icon{
		display: none;
	}
	.sec-projects__el{
		width: 50vw;
		height: 166px;
		padding: 27px 16px;
		&_1{
			left: 0;
			top: 398px;
		}
		&_2{
			left: auto;
			right: 0;
			top: 398px;
		}
		&_3{
			width: 100vw;
			top: 564px;
			left: 0;
		}
	}
	body{
		height: 100vh;
		overflow-y: auto;
	}
	.block-header__left, .block-header__right, .block-header{
		position: absolute;
	}
	.sec-page__bottom{
		width: 100vw;
		left: 0;
		right: auto;
		height: 162px;
		padding: 0;
		background: rgba(255, 255, 255, 0.2);
		.iconLink{
		}
	}
	.sec-page__bottom-prev{
		width: 100%;
		height: 81px;
		padding: 10px 17px;
		padding-top: 23px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.48);
	}
	.sec-projects{
		overflow-x: hidden;
		width: 100vw;
		min-height: 100vh;
		height: auto;
		&__content{
			height: 894px;
			min-height: 100vh;
			padding-bottom: 162px;
		}
	}
	.block-links__el{
		margin: 0 !important;
		height: 81px;
		width: 50vw;
		padding: 10px 17px;
		padding-top: 23px;
		&:first-child{
			border-right: 1px solid rgba(255, 255, 255, 0.48);
		}
	}
	.block-links__el::after{
		display: none;
	}
	.block-menu__dropdown{
		min-height: 100vh;
		height: 100vh;
		overflow-y: auto;
		max-width: 100vw;
	}
	.block-menu__dropdown-block{
		margin-left: 0;
	}
	.block-menu__dropdown-content{
		padding: 30px 32px;
		padding-top: 102px;
	}
	.block-menu__dropdown-block{
		margin-bottom: 35px;
	}
	.block-menu__dropdown-bottom{
		margin-top: 64px;
	}
	.block-header__right.active{
		.btn-language{
		    position: fixed;
		    top: 24px;
		    left: 22px;
		}
		.block-menu{
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 32px;
			right: 23px;
		}
	}
	body.menuOpen .wrapper{
		overflow: hidden;
	}

	.sec-projects-cat{
		overflow-x: hidden;
		width: 100vw;
		height: auto;
		min-height: 100vh;
		&__content{
			min-height: 100vh;
			height: 860px;
			padding-bottom: 162px;
		}
	}
	.sec-projects-cat__line{
		display: none;
		&_1{
			display: block;
			height: 83px;
			width: 1px;
			left: calc(50vw - 0.5px);
		}
		&_2{
			display: block;
			height: 1px;
			width: 100vw;
			left: 0;
			top: 83px;
		}
		&_3{
			display: block;
			width: 100vw;
			left: 0;
			height: 1px;
			top: 373px;
		}
	}
	.sec-projects-cat__info{
		width: 100vw;
		left: 0;
		height: 291px;
		padding: 42px 15px;
		top: 83px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.text-info{
			display: none;
		}
	}
	.sec-projects-cat__title{
		margin: 0;
	}
	.sec-projects-cat__projects{
		top: 374px;
		width: 100vw;
		left: 0;
		height: auto;
	}
	.sec-projects-cat__el{
		height: 81px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.48);
		&:nth-child(n+1){
			border-right: 1px solid rgba(255, 255, 255, 0.48);
		}
	}
	.project-el-cat{
		padding: 26px 15px;
		padding-top: 30px;
	}
	.sec-projects-cat__el:nth-child(7){
		position: static;
		width: 50%;
		height: 81px;
	}
	.sec-projects-cat__el:last-child{
		width: 100%;
		border-right: 0;
	}
	.block-header__right.active{
		.btn-language__content{
			right: auto;
			left: 100%;
		}
	}

	.sec-project{
		overflow-x: hidden;
		width: 100vw;
		min-height: 100vh;
		height: auto;
		background-color: #fff;
		&__content{
			height: auto;
			min-height: 100vh;
			padding-bottom: 162px;
		}
		.sec-page__bottom{
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			background-color: #fff;
			.iconLink__text{
				color: #2F2F2F;
			}
			svg{
				path, rect{
					fill: #2F2F2F;
				}
			}
		}
		.sec-page__bottom-prev{
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		}
		.block-links__el:first-child{
			border-color: rgba(0, 0, 0, 0.1);
		}
	}
	.sec-project__line{
		display: none;
		&_1{
			display: block;
			height: 83px;
			width: 1px;
			top: 0;
			left: calc(50vw - 0.5px);
		}
		&_2{
			display: block;
			height: 1px;
			width: 100vw;
			left: 0;
			top: 83px;
		}
		&_3{
			display: block;
			width: 100vw;
			left: 0;
			height: 1px;
			top: 497px;
		}
		&_4{
			left: calc(50vw - 0.5px);
			width: 1px;
			height: 526px;
			top: 83px;
			display: block;
			z-index: 999;
		}
	}
	.project-info__arr{
		right: 10px;
	}
	.project-info{
		display: block;
	}
	.project-info__text{
		overflow: hidden;
		margin-bottom: 0;
	}
	.sec-project__text .project-info__text{
		-webkit-line-clamp: 5;
	}
	.sec-project__text.open .project-info__text{
		-webkit-line-clamp: unset;
	}
	.sec-project__text .project-info{
		height: auto;
	}
	.sec-project__wrap{

	}
	.sec-project__text.open{
		background-color: #fff;
		.project-info{
			padding-top: 83px;
		}
		position: fixed;
		top: 0;
		height: 100vh;
		overflow-y: auto;
		z-index: 999;
		.project-info__text{
			max-width: 100%;
		}
	}
	.sec-project__info{
		left: 0;
		width: 100vw;
		top: 83px;
		height: 525px;
	}
	.project-info__btn{
		margin-top: 20px;
	}
	.sec-project__info-top{
		padding: 44px 17px;
		height: 415px;
	}
	.sec-project__contentInfo.anim{
		height: 110px;
	}
	.block-project-info__wrap{
		padding: 0;
		display: flex;
	}
	.block-project-info__el{
		width: 50%;
		padding: 23px 17px;
	}
	.block-project-info__val{
		margin-bottom: 12px;
	}
	.block-project-info__val-text{
		margin-left: 4px;
		margin-bottom: 3px;
	}
	.sec-project__text.anim{
		width: 100vw;
	}
	.sec-project__text{
		position: relative;
		margin-bottom: 602px;
		top: 602px;
		height: auto;
	}
	.project-info{
		padding: 54px 14px;
	}
	.project-info__title{
		margin-bottom: 19px;
	}
	.sec-project__bg{
		height: calc(498px + 10vh);
	}
	.project-info__top.fade-leave-to{
		display: none;
	}
	.project-info__text.fade-leave-to, .project-info__btn.fade-leave-to{
		display: none;
	}

	.sec-partners{
		overflow-x: hidden;
		width: 100vw;
		min-height: 100vh;
		height: auto;
		background-color: #fff;
		&__wrap{
			height: auto;
			min-height: 100vh;
			padding-bottom: 162px;
		}
		&__line{
			display: none;
			&_1{
				display: block;
				height: 83px;
				width: 1px;
				top: 0;
				left: calc(50vw - 0.5px);
			}
			&_2{
				display: block;
				height: 1px;
				width: 100vw;
				left: 0;
				top: 83px;
			}
			&_3{
				display: block;
				width: 100vw;
				left: 0;
				height: 1px;
				top: 333px;
			}
		}
	}
	.sec-partners__content{
		position: relative;
		left: 0;
		width: 100vw;
		height: auto;
		top: 83px;
		margin-bottom: 83px;
		z-index: 10;
		padding: 41px 15px;
		padding-right: 20px;
		border-bottom: 1px solid rgba(#fff,0.4);
		.text-info{
			font-size: 16px;
			line-height: 1.5;
		}
	}
	.sec-partners__line_3{
		display: none;
	}
	.sec-partners__title{
		margin-bottom: 23px;
	}
	.sec-partners__items{
		position: relative;
		left: 0;
		width: 100vw;
		transform: none;
		top: 0;
		margin-bottom: 0;
	}
	.sec-partners__item{
		padding: 11px 24px 22px 14px;
		height: 112px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.48);
		&:nth-child(n+1){
			border-right: 1px solid rgba(255, 255, 255, 0.48);
		}
	}

	.sec-partner{
		overflow-x: hidden;
		width: 100vw;
		min-height: 100vh;
		height: auto;
		&__wrap{
			height: auto;
			min-height: 100vh;
			padding-bottom: 162px;
			padding-top: 83px;
		}
		&__line{
			display: none;
			&_1{
				display: block;
				height: 83px;
				width: 1px;
				top: 0;
				left: calc(50vw - 0.5px);
			}
			&_2{
				display: block;
				height: 1px;
				width: 100vw;
				left: 0;
				top: 83px;
			}
			&_3{
				display: block;
				width: 100vw;
				left: 0;
				height: 1px;
				top: 797px;
				display: none;
			}
		}
		&__img{
			display: none;
			&-mob{
				display: block;
			}
		}
		&__content{
			position: static;
			top: 84px;
			left: 0;
			width: 100vw;
			height: auto;
			&-body{
				padding: 40px 16px;
				justify-content: flex-start;
			}
		}
		&__link{
			margin-bottom: 81px;
		}
		&__text{
			position: static;
			left: 0;
			width: 100vw;
			font-size: 16px !important;
			padding: 0 16px;
			padding-right: 20px;
			top: 335px;
			line-height: 1.5 !important;
			height: auto;
			border-bottom: 1px solid #fff;
			padding-bottom: 20px;
		}
		&__info{
			position: static;
			height: auto;
			left: 0;
			width: 100%;
			padding: 28px 14px;
			top: 964px;
		}
	}
	.sec-partner__info-title{
		margin-bottom: 22px;
	}
	.block-links{
		width: 100%;
		display: flex;
		flex-wrap: nowrap;
		&__el{
			width: 100%;
			&:last-child{
				justify-content: flex-end;
				text-align: right;
			}
			&:first-child{
				justify-content: flex-start;
				text-align: left;
			}
		}
	}
	.sec-partner__content-body{
		height: auto;
	}
	.block-menu__dropdown{
		width: 100vw;
	}

	.sec-contacts{
		overflow-x: hidden;
		width: 100vw;
		min-height: 100vh;
		height: auto;
		&.openForm{
			.sec-contacts__content, .sec-contacts__map, .sec-contacts__socials, .sec-contacts__locate, .sec-contacts__btn, .sec-contacts__info{
				display: none !important;
			}
			.sec-contacts__line_3, .sec-contacts__line_4, .sec-contacts__line_5{
				display: none;
			}
			.sec-contacts__wrap{
				height: 100vh;
			}
		}
		&__form{
			max-height: 100vh;
			overflow-y: auto;
		}
		&__wrap{
			height: calc(1100px + 44vw);
			min-height: 100vh;
			padding-bottom: 166px;
		}
		&__line{
			display: none;
			&_1{
				display: block;
				height: 83px;
				width: 1px;
				top: 0;
				left: calc(50vw - 0.5px);
			}
			&_2{
				display: block;
				height: 1px;
				width: 100vw;
				left: 0;
				top: 83px;
			}
			&_3{
				display: block;
				height: 1px;
				width: 100vw;
				left: 0;
				top: calc(743px + 44vw);
			}
			// &_4{
			// 	display: block;
			// 	width: 1px;
			// 	left: calc(50vw - 0.5px);
			// 	height: 166px;
			// 	top: calc(743px + 44vw);
			// }
			// &_5{
			// 	display: block;
			// 	height: 1px;
			// 	width: 100vw;
			// 	left: 0;
			// 	top: calc(908px + 44vw);
			// }
		}
		&__map{
			width: 100vw;
			left: 0;
			top: 386px;
			height: 44vw;
		}
		&__locate{
			left: 0;
			width: 50vw;
			top: calc(386px + 44vw);
			height: 358px;
			padding: 41px 16px;
			display: block;
			border-right: 1px solid #fff;
			&-el{
				margin-bottom: 38px;
			}
			&-content{
				position: relative;
				width: 100%;
				max-width: 100%;
			}
		}
		&__info{
			width: 50vw;
			left: auto;
			right: 0;
			height: 166px;
			top: calc(386px + 44vw);
			padding: 24px 18px;
			&-content{
				display: flex;
				align-items: flex-end;
				justify-content: space-between;
				flex-wrap: wrap;
			}
			&-el{
				margin: 0;
				width: 100%;
				margin-bottom: 20px;
				&:last-child{
					.link-contact{
						// font-size: 12px;
					}
				}
			}
		}
		
		&__content{
			width: 100vw;
			height: 302px;
			top: 82px;
			padding: 39px 16px;
			padding-right: 30px;
			max-width: none;
		}
		&__title{
			margin-bottom: 25px;
		}
		&__socials{
			left: 0;
			width: 100vw;
			// top: calc(908px + 44vw);
			top: calc(743px + 44vw);
			height: 166px;
			padding: 18px 15px;
			&-content{
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
			}
		}
		&__btn{
			bottom: 0;
			left: 0;
			width: 100vw;
			height: 166px;
		}
		&__form{
			top: auto;
			bottom: 0;
			height: 501px;
			width: auto;
			left: 16px;
			right: 16px;
			padding: 143px 40px;
			padding-bottom: 40px;
			display: block;
			&-close{
				top: 11px;
				right: 11px;
			}
			&-content{
				max-width: 100%;
			}
		}
	}
	.form-el__inp{
		text-align: center;
	}
	.block-form__inps{
		display: block;
	}
	.block-form__inps-el{
		width: 100%;
	}
	.block-form__el{
		margin-bottom: 9px;
	}
	.block-form__btn{
		font-size: 18px;
		color: #3A5899;
	}
	.block-form__btnWrap{
		margin-top: 66px;
	}
	.sec-contacts__form{
	}
	.sec-contacts__text{
		font-size: 16px !important;
		line-height: 1.5 !important;
	}
	.locate-el__info{
		font-size: 14px;
		margin-top: 14px;
	}
	.link-contact{
		font-size: 16px;
	}

	.sec-about{
		overflow-x: hidden;
		width: 100vw;
		min-height: 100vh;
		height: auto;
		&::after{
			background: rgba(9, 20, 36, 0.4);
		}
		&__wrap{
			height: auto;
			min-height: 100vh;
			padding-bottom: 162px;
		}
		&__line{
			display: none;
			&_1{
				display: block;
				height: 83px;
				width: 1px;
				top: 0;
				left: calc(50vw - 0.5px);
			}
			&_2{
				display: block;
				height: 1px;
				width: 100vw;
				left: 0;
				top: 83px;
			}
			&_3{
				display: block;
				width: 100vw;
				left: 0;
				height: 1px;
				top: 454px;
				display: none;
			}
		}
		&__content{
			left: 0;
			position: static;
			width: 100vw;
			padding: 79px 16px;
			padding-bottom: 40px;
			padding-top: 164px;
			height: auto;
			border-bottom: 1px solid #fff;
			&-btn{
				display: block;
			}
			&.readMore{
				position: absolute;
				top: 0;
				height: 100vh;
				background-color: #fff;
				z-index: 200;
				.sec-about__title, .text-info{
				    color: #3A5899;
				}
				.sec-about__content-btn{
					display: none;
				}
				.sec-about__content-text p{
					display: block;
				}
			}
		}
		&__title{
			margin-bottom: 23px;
		}
		&__pages{
			position: relative;
			top: 0;
			margin-bottom: 0;
			left: 0;
			width: 100vw;
			display: flex;
			flex-wrap: wrap;
		}
		&__page{
			width: 50vw;
			position: static;
			height: 168px;
			padding: 26px 16px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.48);
			&:nth-child(n+1){
				border-right: 1px solid rgba(255, 255, 255, 0.48);
			}
		}
	}
	.sec-about__content-text{
		font-size: 16px !important;
		line-height: 1.5 !important;
		p{
			&:not(:first-child){
				display: none;
			}
		}
	}
	.about-el__text{
		font-size: 14px;
	}

	.sec-types{
		overflow-x: hidden;
		width: 100vw;
		min-height: 100vh;
		height: auto;
		&__wrap{
			min-height: 100vh;
			height: auto;
			padding-bottom: 162px;
		}
		&__line{
			display: none;
			&_1{
				display: block;
				height: 83px;
				width: 1px;
				top: 0;
				left: calc(50vw - 0.5px);
			}
			&_2{
				display: block;
				height: 1px;
				width: 100vw;
				left: 0;
				top: 83px;
			}
			&_3{
				display: block;
				height: 1px;
				width: 100vw;
				left: 0;
				top: 334px;
			}
		}
		&__content{
			left: 0;
			width: 100vw;
			height: 250px;
			top: 84px;
			padding: 40px 16px;
		}
		&__elements{
			position: relative;
			left: 0;
			top: 334px;
			margin-bottom: 334px;
			width: 100vw;
			display: flex;
			flex-wrap: wrap;
			height: auto;
			&-el{
				cursor: default;
				width: 50%;
				padding: 24px 16px;
				height: 166px;
				border-bottom: 1px solid rgba(255, 255, 255, 0.48);
				&:nth-child(n+1){
					border-right: 1px solid rgba(255, 255, 255, 0.48);
				}
			}
		}
		.sec-types__elements-icon{
			margin-bottom: 29px;
		}
		.sec-types__elements-el{
			position: relative;
			&.active{
				.sec-types__elements-hover{
					opacity: 1;
					z-index: 100;
				}
			}
		}
		.sec-types__elements-hover{
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			height: calc(100vh-0px);
			font-size: 18px;
			opacity: 0;
			display: block;
			transform: none;
			padding: 80px 20px;
			transition: .2s;
			z-index: -999;
			&-close{
				display: block;
				width: 30px;
				height: 30px;
				path{
					fill: #fff;
				}
			}
		}
		// .sec-types__title{
		// 	font-family: 'Gilroy';
		// 	font-weight: bold;
		// 	font-size: 14px;
		// 	color: #FFFFFF;
		// 	opacity: 0.4;
		// }
		// .text-info{
		// 	font-family: 'Raleway';
		// 	font-weight: 600;
		// 	font-size: 32px;
		// 	color: #FFFFFF;
		// }
	}

	.sec-founders{
		overflow-x: hidden;
		width: 100vw;
		min-height: 100vh;
		height: auto;
		&__wrap{
			min-height: 100vh;
			height: auto;
			padding-bottom: 162px;
		}
		&__line{
			display: none;
			&_1{
				display: block;
				height: 83px;
				width: 1px;
				top: 0;
				left: calc(50vw - 0.5px);
			}
			&_2{
				display: block;
				height: 1px;
				width: 100vw;
				left: 0;
				top: 83px;
			}
			&_3{
				display: block;
				height: 1px;
				width: 100vw;
				left: 0;
				top: 334px;
			}
		}
		&__content{
			left: 0;
			width: 100vw;
			height: 250px;
			top: 84px;
			padding: 40px 16px;
			padding-right: 30px;
			.text-info{
				font-size: 16px;
				line-height: 1.5;
			}
		}
		&__elements{
			position: relative;
			left: 0;
			top: 333px;
			margin-bottom: 333px;
			width: 100vw;
			display: flex;
			flex-wrap: wrap;
			height: auto;
			&-el{
				cursor: default;
				width: 100%;
				padding: 19px 16px;
				min-height: 140px;
				height: auto;
				border-bottom: 1px solid rgba(255, 255, 255, 0.48);
				&:nth-child(n+1){
					border-right: 1px solid rgba(255, 255, 255, 0.48);
				}
			}
			&-text{
				line-height: 1.5 !important;
			}
			&-title{
				margin-bottom: 12px;
			}
		}
		&__title{
			margin-bottom: 24px;
		}
	}

	.sec-founder{
		overflow-x: hidden;
		width: 100vw;
		min-height: 100vh;
		height: auto;
		&__wrap{
			position: relative;
			min-height: 100vh;
			height: auto;
			padding-bottom: 162px;
		}
		&__line{
			display: none;
			&_1{
				display: block;
				height: 83px;
				width: 1px;
				top: 0;
				left: calc(50vw - 0.5px);
			}
			&_2{
				display: block;
				height: 1px;
				width: 100vw;
				left: 0;
				top: 83px;
			}
		}
		&__img{
			left: 0;
			top: 84px;
			height: calc(100% - 246px);
			object-position: top;
			&-img{
				width: 50vw;
			}
			&.anim{
				width: 50vw;
			}
		}
		&__info{
			position: absolute;
			top: 84px;
			left: auto;
			right: 0;
			width: 50vw;
			padding: 39px 16px;
			height: auto;
			justify-content: flex-start;
			padding-bottom: 25px;
			.text-info{
				font-size: 16px;
				line-height: 1.5;
			}
			&-title{
				margin-bottom: 23px;
			}
			&-bottom{
				margin-top: 40px;
			}
			&-socials{
				display: block;
				margin-top: 80px;
			}
		}
		&__socials{
			display: none;
		}
		&__content{
			display: none;
		}
	}

	.sec-text{
		overflow-x: hidden;
		width: 100vw;
		min-height: 100vh;
		height: auto;
		&__wrap{
			min-height: 100vh;
			height: auto;
			padding-bottom: 162px;
			position: relative;
		}
		&__line{
			display: none;
			&_1{
				display: block;
				height: 83px;
				width: 1px;
				top: 0;
				left: calc(50vw - 0.5px);
			}
			&_2{
				display: block;
				height: 1px;
				width: 100vw;
				left: 0;
				top: 83px;
			}
		}
		&__content{
			position: relative;
			margin-left: auto;
			width: 50vw;
			left: auto;
			right: 0;
			top: 84px;
			margin-bottom: 84px;
			height: auto;
			padding: 38px 16px;
			padding-right: 28px;
			&-body{
				padding: 0;
			}
			&-icon{
				display: none;
				width: 40px;
				height: 40px;
				margin-bottom: 81px;
			}
		}
	}
	.sec-text__content{
		z-index: 10;
	}
	.sec-text__content h1 {
	    margin-bottom: 24px;
	}
	.sec-text__content p {
	    margin-bottom: 30px;
	}
	.sec-text__content ul{
	}
	.sec-text__content *:last-child{
		margin-bottom: 0;
	}
	.sec-text__content ul li{
		margin-bottom: 16px;
	}
	.sec-text__img{
		position: absolute;
		height: 400px;
		display: block;
		&-wrap{
			top: 84px;
			left: 0;
			width: 50vw;
			height: 400px;
		}
		.sec-text__img-img{
			width: 50vw;
		}
		&.anim{
			width: 50vw;
		}
	}
	.btn-language__content{
		right: 100%;
		left: auto;
	}
	.sec-project__text{
		z-index: 10;
	}
	.menuOpen .sec-page{
		overflow: hidden;
	}
	.title_main{
		font-size: 46px;
	}

	.sec-text__img-img{
		width: 100vw;
	}
	.block-header__logo{
		width: 150px;
		height: 49px;
	}
	.block-header__right{
		align-items: center;
		padding-bottom: 10px;
	}
	.sec-types__elements-el{
		perspective: none;
	}
	.block-header__right .block-menu{
		margin-top: 5px;
	}

	.sec-project{
		&__contentInfo{
			position: relative;
			top: 0;
			&.anim{
				height: 124px;
			}
		}
		&__info{
			height: auto;
			margin-bottom: 84px;
			position: relative;
			&-top{
				height: calc(100vh - 84px - 124px);
			}
		}
		&__text{
			top: 0;
			margin-bottom: 0;
			transition: .2s;
		}
		&__bg{
			height: 100vh;
		}
	}
	.sec-types__elements:hover .sec-types__elements-hover{
	}
}
// to 1200

@media screen and (max-width: 768px){
	.sec-project{
		background-color: transparent;
	}
	.sec-home__link{
		width: 50vw;
		height: 25vh;
		padding: 31px 25px;
		&_1{
			top: 0;
			left: 0;
		}
		&_2{
			right: 0;
			top: 0;
		}
		&_3{
			bottom: 0;	
			left: 0;	
			top: auto;
			right: auto;
			align-items: flex-start;
			padding: 23px 25px;
		}
		&_4{
			top: auto;
			left: auto;
			bottom: 0;
			right: 0;
			align-items: flex-start;
			padding: 23px 25px;
		}
	}
	.sec-home__line{
		&_1{
			width: 100vw;
			left: 0;	
			top: 25vh;
		}
		&_2{
			display: none;
		}
		&_3{
			height: 25.2vh;
			left: 50vw
		}
		&_4{
			width: 100vw;
			height: 1px;
			left: 0;	
			top: 74.6vh;
		}
		&_5{
			bottom: 0;
			top: auto;
			left: 50vw;
			height: 25.4vh;
			width: 1px;
		}
		&_6{
			display: none;
		}
	}
	.sec-home__center{
		width: 100vw;
		display: block;
		text-align: center;	
		padding: 28px 10px;	
		padding-bottom: 60px;
	}
	.sec-home__logo{
		width: 247px;
	}
	.sec-home__text{
		text-align: center;
		font-size: 14px;
		bottom: auto;
		top: 66.4vh;
		line-height: 1.2;
		height: 28px;
		max-width: 	161px;
	}
	.btnLanguageFixed{
		top: 11px;
		right: 14px;
	}
	.btn-language.fixed{
		top: 11px;
		right: 14px;
	}
	.btn-language__icon{
		width: 24px;
		height: 24px;
	}
}

@media screen and (max-width: 600px){
	.sec-projects-cat__bg{
		height: 100%;
	}
	.sec-text__content{
		width: 100vw;
	}
	.sec-text__img{
		&-wrap{
			top: 0;
			position: relative;
			width: 100vw;
		}
		position: relative;
		top: 0;
		&-img{
			width: 100vw !important;
		}
		&.anim{
			width: 100vw;
		}
	}
	.block-header__right{
		padding-bottom: 20px;
	}
	.sec-about__title{
		max-width: 151px;
	}
	.sec-types__elements-title{
		font-size: 14px;
	}
	.sec-types__elements-icon{
		width: 40px;
		height: 40px;
	}
	.about-el__icon{
		width: 40px;
		height: 40px;
	}
	.sec-partner__info-title{
		font-size: 32px;
	}
	.sec-partner__info-text{
		font-size: 14px;
		line-height: 1.7;
	}
	.text-link{
		font-size: 14px;
	}
	.sec-partners__title{
		max-width: 234px;
	}
	.project-info__title{
		max-width: 234px;
		line-height: 1.2;
	}
	.project-info__info{
		font-size: 14px;
	}
	.sec-home__link{
		font-size: 14px;
	}
	.block-header__logo{
		width: 109px;
		height: 35.3px;
		object-fit: contain;
	}
	.block-menu__icon{
		width: 24px;
	}
	.block-menu__text{
		font-size: 8.62px;
	}
	.title_sec{
		font-size: 32px;
	}
	.text-info{
		font-size: 14px;
		line-height: 1.7;
	}
	.sec-projects__title{
		max-width: 242px;
	}
	.project-el__text{
		font-size: 14px;
	}
	.block-menu__dropdown-title{
		font-size: 18px;
	}
	.block-menu__dropdown-links a{
		font-size: 16px;
	}
	.sec-projects-cat__link{
		font-size: 14px;
	}
	.sec-projects-cat__title{
		max-width: 313px;
	}
	.project-el-cat__title{
		font-size: 14px;
	}
	.title_main{
		font-size: 32px;
	}
	.block-project-info__val-count{
		font-size: 32px;
	}
	.block-project-info__val-text{
		font-size: 16px;
	}
	.project-info__text{
		font-size: 16px;
	}
	.block-menu__dropdown{
		right: 0;
		top: -120vh;
		transition: .5s;
		&.active{
			top: 0;
		}
	}


	.sec-founder{
		&__img{
			height: 388px;
			&-img{
				width: 100vw;
				object-fit: contain
			}
			&.anim{
				width: 100vw;
			}
		}
		&__info{
			position: relative;
			left: 0;
			top: 472px;
			margin-bottom: 472px;
			width: 100vw;
			padding: 39px 16px;
			padding-bottom: 70px;
			height: auto;
			justify-content: flex-start;
			padding-bottom: 25px;
			.text-info{
				font-size: 16px;
				line-height: 1.5;
			}
			&-title{
				margin-bottom: 23px;
			}
			&-bottom{
				margin-top: 40px;
			}
			&-socials{
				display: block;
				margin-top: 80px;
			}
		}
	}

	.sec-contacts{
		&__wrap{
			height: auto;
		}
		&__content{
			position: relative;
			height: auto;
			margin-bottom: 84px;
		}
		&__map{
			position: static;
		}
		&__locate{
			left: 0;
			width: 100vw;
			padding: 41px 20px;
			display: block;
			position: relative;
			top: 0;
			height: auto;
			&-el{
				width: 100%;
				margin-left: auto;
				margin-bottom: 38px;
			}
			&-content{
				position: relative;
				width: 100%;
				max-width: 100%;
				padding-top: 30px;
			}
			.locate-el__title{
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		&__info{
			position: relative;
			width: 100vw;
			left: 0;
			height: 166px;
			top: 0;
			padding: 24px 18px;
			border-top: 1px solid #fff;
			border-bottom: 1px solid #fff;
			&-content{
				display: flex;
				align-items: flex-end;
				justify-content: space-between;
			}
			position: relative;
			&::after{
				content: '';
				position: absolute;
				left: 50%;
				top: 0;
				height: 100%;
				width: 1px;
				margin-left: -0.5px;
				background-color: #fff;
			}
			&-el{
				margin: 0;
				width: 45%;
				&:last-child{
					.link-contact{
						font-size: 12px;
					}
				}
			}
		}
		&__socials{
			position: relative;
			top: 0;
		}
		&__line{
			&_3{
				display: none;
			}
		}
	}

	.block-menu__dropdown-block{
		margin-bottom: 4vh;
	}
	.block-menu__dropdown-links li{
		margin-bottom: 2vh;
	}
	.block-menu__dropdown-bottom{
		margin-top: 7vh;
	}

	.block-header__right{
		padding-bottom: 25px;
	}
	.block-header__right .block-menu{
		margin-top: 7px;
	}
}

@media screen and (max-width: 400px){
	.sec-contacts__info-content{
		flex-wrap: wrap;
	}
	.sec-contacts__info-el{
		width: 100%;
		margin-bottom: 20px;
	}
	.sec-contacts__info::after{
		display: none;
	}
}

@media screen and (max-width: 360px){
	.block-project-info__wrap{
		flex-wrap: wrap;
	}
	.block-project-info__el{
		width: 100%;
		border-bottom: 1px solid #fff;
		height: 107px;
	}
	.sec-project__line_4{
		display: none;
	}
	.sec-project__contentInfo.anim{
		height: 214px;
	}
	.sec-project__info-top{
		height: calc(100vh - 84px - 105px);
	}
	.sec-project__line_3{
		display: none;
	}
}